body{
    font-family: 'Poppins', sans-serif;
    background-color: brown;
}
.header-area{
    text-align: center;
    color: white;
}
.about-area{
    display: flex;
    height: 300px;
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    padding: 40px 10px;
}
.about-me{
    display: flex;
}
h4{
    display:flex;
    font-weight: bold;
}
.about-width{
    width: 80%;
    margin-left: 2%;
    padding-left: 1%
}
.about-width p{
    padding-right: 1%;

}
img{
    width:60%;
}