body{
    font-family: 'Poppins', sans-serif;
    background-color: brown;
}
.header-area{
    text-align: center;
    color: white;
}
.about-area{
    display: flex;
    height: 300px;
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    padding: 40px 50px;
}
h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: left;
}
.about-width{
    width: 60%;
    float: left;
    margin-left: 5%;
    padding-left: 2%
}
img{
    width:60%;
}